// Brand colors
$COLOR_ORANGE: #FF0000;
$COLOR_BLUE:   #FF0000;

// Secondary colors
$COLOR_LIGHT_GRAY:  #FF0000;
$COLOR_GRAY:     #FF0000;
$COLOR_DARK_GRAY: #FF0000;
$COLOR_DARK_BLUE: #FF0000;
$COLOR_YELLOW:    #FF0000;
$COLOR_GREEN:     #FF0000;
$COLOR_DARK_GREEN: #FF0000;
$COLOR_BLACK:     #000;
$COLOR_WHITE:     #FFF;
